* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #333;
  height: 100vh;
  width: 100vw;
  background: url(/img/background.jpg) no-repeat center center / cover;
  position: relative;
}

.message-container {
  padding-top: 2rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.output p {
  font-size: 1.5rem;
  width: 10rem;
  text-align: left;
}

.reset-game {
  font-family: "Oswald", sans-serif;
  border: none;
  font-size: 1.5rem;
  color: #333;
  padding: 0 1rem 0.4rem 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 5px #333;
  transform: translate(0);
  transition: all 0.2s;
}

.reset-game:active {
  box-shadow: 0 0 0 #333;
  transform: translate(5px, 5px);
}

.output {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  margin: 1rem auto 0 auto;
}

.game-container {
  display: flex;
  width: 930px;
  flex-wrap: wrap;
  margin: 2rem auto 0 auto;
}

.status-display {
  width: 100vw;
  height: 700px;
  /* margin: 2rem auto 0 auto; */
  position: absolute;
  background-image: linear-gradient(
      to right,
      rgba(51, 51, 51, 0),
      rgba(51, 51, 51, 0.767) 15%,
      rgba(51, 51, 51, 0.767) 85%,
      rgba(51, 51, 51, 0)
    )
    /* center/cover no-repeat */;
  /* background-color: rgba(51, 51, 51, 0.678); */
  border-radius: 5px;
  z-index: 2;
  opacity: 1;
  left: 0;
  transition: all 0.5s;
}

.status-display-message {
  color: whitesmoke;
  font-size: 5rem;
  text-align: center;
  margin-top: 15%;
}

.hide-status-display {
  opacity: 0;
  z-index: -1;
}

.card-holder {
  position: relative;
  height: 210px;
  width: 210px;
  margin: 0.7rem;
}

.card-holder:not(.clicked):hover {
  box-shadow: 0 0 5px #333;
  cursor: pointer;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  height: 210px;
  width: 210px;
  border-radius: 5px;
  border: 20px solid honeydew;
}

.hidden {
  opacity: 0;
}
